{% extends "base.html" %}
{% block title %}New Zeland{% endblock %}
{% block content %}
<div class="row">
    <div class="col-12 col-md-9">
        <p><strong>New zeland</strong>, officially the <strong>reign of kiwis</strong>
           Not the fruit haha, the bird. They are endangered, and very silly.
        </p>
        <p>Treure un 10 en aquest examen! ;)</p>
	<p>Andrea Morales 02/03/2023</p>
    </div>
    <div class="col-6 col-md-3">
        <img class="img-fluid" src="/static/australia.jpg" alt="Australia satelite plane">
    </div>
</div>
{% endblock %}
